<script type="text/javascript"><!--
google_ad_client = "ca-pub-6039615735782011";
/* top ad */
google_ad_slot = "9656915688";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<ul>
	<% @clubs.each do |club| %>
	<li>
		<div class="news-container">
			<div class="image-continaer">
				<%= %>	
			</div>
			<div class="news-title">
				<h2><%= club.club_name %></h2>

				<strong>Manager:</strong> <span><%= club.club_manager %></span>
				<strong>League Position:</strong> <span><%= club.club_position %></span>
				<p><%= link_to("View profile", {:action => 'show', :id => club.id}) %></p>
			</div>
		</div>
	</li>
	<% end %>
</ul>