<% @clubs.each do |club| %>
	<%= club.club_name %><%= link_to "Club Profile", :action => 'show', :id => club.id %>
<% end %>

<ul>
	<% @clubs.each do |club| %>
	<li>
		<div class="news-container">
			<div class="news-title">
				<h2><%= club.club_name %></h2>

				<p><%= club.club_name %></p>
				<p><%= link_to("View profile", {:action => 'show', :id => club.id}) %></p>
			</div>
		</div>
	</li>
	<% end %>
</ul>