<% meta title: "PremBile",
        description: "An indepth look at the current football club and articles that you have chosen to read",
        keywords: %w(articles football manchester united liverpool chelsea arsenal footy news city prembible)
%>
<div id="main">
            <div id="club">
                <div id="club-left">
                    <span id="player-name"><%= @club.club_name %></span><br>
                    <span>Manager: <span id="club"><%= @club.club_manager %></span><br>
                    <span>Founded: <span id="club"><%= @club.club_founded %></span><br>
                </div>
                
                
                <div id="club-right">
                    <ul>
                        <li>
                            <div class="stat-container">
                                <div class="stat"><span><%= @club.club_goals %></span></div>
                                <div class="stat-title"><span>goals</span></div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="stat-container">
                                <div class="stat"><span><%= @club.club_assists %></span></div>
                                <div class="stat-title"><span>assists</span></div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="stat-container">
                                <div class="stat"><span><%= @club.club_position %></span></div>
                                <div class="stat-title"><span>position</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div id="club-articles">
                <h2>Articles:</h2>
            	<% @club.articles.each do |article| %>
                <div class="club-article">
                    <div class="club-article-top">
                        <span><%= article.article_title %></span>
                    </div>
                    
                    <div class="club-article-news">
                        <p>
                         	<%= article.article_small %>
                        </p>
                        <p><%= link_to 'Read More', :controller => 'Articles', :action => 'show', :id => article.id %></p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>