<script type="text/javascript"><!--
google_ad_client = "ca-pub-6039615735782011";
/* top ad */
google_ad_slot = "9656915688";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<ul>
	<% @articles.each do |article| %>
	<li>
		<div class="news-container">
			<div class="news-title">
				<h2><%= article.article_title %></h2> 

				<p><%= article.article_small %><%= link_to "Read more!", {:action => 'show', :id => article.id} %></p>
				<p>Category:<%= article.player.player_name %>
					<%= article.club.club_name %>
				</p>
			</div>
		</div>
	</li>
	<% end %>
</ul>