<script type="text/javascript"><!--
google_ad_client = "ca-pub-6039615735782011";
/* top ad */
google_ad_slot = "9656915688";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    <div id="goalkeepers">
	<h2>goalkeepers:</h2>
	<% @players_goalkeeper.each do|player| %>
	<div class="small-container">
        <div class="player-graphic-container">
            <div class="player-graphic">
            	<%= image_tag(player.player_image) %>
            </div>
        </div>
        
        <div class="player-details">
            <span>player details:</span><br>
            <span><%= player.player_name %></span><br>
            <span><%= player.club.club_name %></span><br>
            <span><%= link_to("view news and info", {:action => 'show', :id => player.id}) %></span>
        </div>
    </div>
    <% end %>
</div>

<div id="defenders">
    <h2>defenders:</h2>
    <% @players_defender.each do|player| %>
    <div class="small-container">
        <div class="player-graphic-container">
            <div class="player-graphic">
                <%= image_tag(player.player_image) %>
            </div>
        </div>
        
        <div class="player-details">
            <span>player details:</span><br>
            <span><%= player.player_name %></span><br>
            <span><%= player.club.club_name %></span><br>
            <span><%= link_to("view news and info", {:action => 'show', :id => player.id}) %></span>
        </div>
    </div>
    <% end %>
</div>

<div id="midfielders">
    <h2>midfielders:</h2>
    <% @players_midfielder.each do|player| %>
    <div class="small-container">
        <div class="player-graphic-container">
            <div class="player-graphic">
                <%= image_tag(player.player_image) %>
            </div>
        </div>
        
        <div class="player-details">
            <span>player details:</span><br>
            <span><%= player.player_name %></span><br>
            <span><%= player.club.club_name %></span><br>
            <span><%= link_to("view news and info", {:action => 'show', :id => player.id}) %></span>
        </div>
    </div>
    <% end %>
</div>

