        <div id="main">
            <div id="player">
                <div id="player-left">
                    <span id="player-name"><%= @player.player_name %></span><br>
                    <span>Club: <span id="club"><%= @player.club.club_name %></span><br>
                </div>
                
                
                <div id="player-right">
                    <ul>
                        <li>
                            <div class="stat-container">
                                <div class="stat"><span><%= @player.player_goals %></span></div>
                                <div class="stat-title"><span>goals</span></div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="stat-container">
                                <div class="stat"><span><%= @player.player_assists %></span></div>
                                <div class="stat-title"><span>assists</span></div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="stat-container">
                                <div class="stat"><span>32</span></div>
                                <div class="stat-title"><span>passes</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
            <div id="player-articles">
                <h2>Articles:</h2>
                <% @player.articles.each do |article| %>
                <div class="player-article">
                    <div class="player-article-top">
                        <span><%= article.article_title %></span>
                    </div>
                    
                    <div class="player-article-news">
                        <p>
                            <%= article.article_small %>
                            <%= link_to("Read more...", {:controller => 'articles', :action => 'show', :id => article.id}) %>
                        </p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>